body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ded9ca;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  width: 550px;
  margin: 5px auto 0;
  padding: 5px;
  background-color: #ffffff;
  min-height: 98vh;
  position: relative;
}

.todo-input-container {
  width: 100%;
}

input,
button {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  margin-bottom: 2px;
}

h1 {
  text-align: center;
  color: #ded9ca;
  text-transform: uppercase;
}

ul {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

.item-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ded9ca;
  margin-bottom: 10px;
}

.complete-box {
  width: 10%;
}

.task-name {
  width: 70%;
  border-bottom: 1px solid #ded9ca;
  display: flex;
}

.task-name span {
  align-self: center;
}

.task-btn {
  width: 20%;
}

.task-btn > button {
  height: 24px;
}

.no-task {
  width: 100%;
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.filters {
  width: 100%;
  margin: unset auto;
}

.btn {
  padding: 0.8rem 1rem 0.7rem;
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
}
.btn.toggle-btn {
  border-width: 1px;
  border-color: #d3d3d3;
}
.btn.toggle-btn[aria-pressed="true"] {
  text-decoration: underline;
  border-color: #4d4d4d;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-group > * {
  flex: 1 1 49%;
}
.btn-group > * + * {
  margin-left: 0.8rem;
}

.sync-container {
  width: 98.2%;
  position: absolute;
  bottom: 1px;
}

.sync-container > button {
  box-sizing: border-box;
  width: 100%;
}
